header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: $headerbgcolor;
    .logo{
        font-size: 3em;
    }
    a {
        color: white;

        &:visited {
            color: white;
        }

        &:active {
            color: blue;
        }
    }
  
    nav {
        padding: 1em;
        color: black;
        position: absolute;
        background-color: black;
        width: 100%;
        left: 0;
        top: 50px;
        display: flex;
        flex-direction: column;
    }
    .none {
        display: none;
    }
    .badge{
        background-color: #cc2062;
        color: white;
        border-radius: 14px;
        padding: 0 1em;
        margin-left: 0.5rem;
    }
    
}

@media screen and (min-width: 800px) {
    header {
        padding: 1em 4em;

        nav {
            padding: 0;
            position: relative;
            background-color: $headerbgcolor;
            width: 50%;
            top: 0;
            color: rgba(21, 12, 33, 0.59);
            font-size: 1em;
            font-weight: 900;
            flex-direction: row;
            a{
                margin-right: 1em;
            }
        }
        .none {
            display: block;
        }
        
        .mobile {
            display: none;
        }

    }
}