@mixin heading {
    text-align: center;
    font-size: $headingFontSize;
}

@mixin btn {
    background: $altTextColor;
    border-radius: $borderradius;
    border: none;
    padding: $padding;
    width: 100%;
    margin-top: 1em;
    white-space: nowrap;
    font-size: 14px;
    color: $textColor;
}

@mixin media($device:$tablet, $type:min) {
    @media only screen and (#{$type}-width:$device) {
        @content;
    }
}

@mixin flex($fd, $justify, $align) {
    display: flex;
    flex-direction: $fd;
    justify-content: $justify;
    align-items: $align;
    @content;
}

@mixin srcset($device:$tablet) {

    &:last-child() {
        display: none;

        @include media($device) {
            display: block;
        }
    }

    @include media($device) {
        display: none;
    }

}

@mixin margin($t: 1, $b: $t, $vh: vh) {
    $h1: (3, 3);
    margin: nth($h1, 1) / $t + $vh 0 nth($h1, 2) / $b + $vh;
}