@use './' as *;

.bg{
    width: 100%;
    background: $atcColor;
    color: $altTextColor;
    height: 20vh;
    margin-bottom: 10vh;
    @include flex (row, center, center);

    @include media($tablet) {
        height: 40vh;
        margin-bottom: 20vh;
    }
}